<a href="https://colab.research.google.com/github/maskesantosh014/hello/blob/main/Copy_of_Copy_of_tuple_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thistuple=("apple","banana","cherry")
print(len(thistuple))
print(type(thistuple))

3
<class 'tuple'>

In [ ]:
#function os set

set_1={1,2,3,4,5,6,7,8,8,9,9}
print(set_1)
#add()
set_1.add(10)
print(set_1)
set_1.add(11)
print(set_1)
print(type(set_1))

#clear()
set_1.clear()
print(set_1)


#copy()
set_1={1,2,3,4,5,6,7}
set2=set_1.copy()
print(set2)
set3=set_1.copy()
prin

#difference()

abc={1,2,3,4,5,6,7,8}
asd={6,7,8,9,10,11,12}
print(abc.difference(asd))
t(set3)

In [ ]:
#difference()

abc={1,2,3,4,5,6,7,8}
asd={6,7,8,9,10,11,12}
print(abc.difference(asd))
print(asd.difference(abc))
print(abc-asd)
print(asd-abc)

{1, 2, 3, 4, 5}
{9, 10, 11, 12}
{1, 2, 3, 4, 5}
{9, 10, 11, 12}

In [ ]:
#difference_update
 a= {10,20,30,40,80}
b= {100,30,80,40,60}
a.difference_update(b)
print(a)

In [3]:
#discard() 
abs={10,20,30,40,50,60,70,80,90}
abs.discard(40)
print(abs)
abs.discard(10)
print(abs)

{70, 10, 80, 50, 20, 90, 60, 30}
{70, 80, 50, 20, 90, 60, 30}

In [5]:
#intersection()

x={'santosh','akash','mangesh','ajay','ganesh'}
y={"nilesh",'gauraw','pvan','sandip','santosh','ganesh'}
a=x.intersection(y)
print(a)

w={1,2,3,4,5,6,8,9,}
j={8,9,10,12,23,54,}
c=w.intersection(j)
print(c)

{'santosh', 'ganesh'}
{8, 9}

In [8]:
#isdisjoint()
h={"nikhil",'kailas','kunal','nagesh','ganesh'}
s={"mangesh",'ajay','komal','akash','dinkar','nikhil'}
f=h.isdisjoint(s)
print(f)

False

In [11]:
#union
f={'akash','kunal','mangesh','rutuja','kajal'}
k={'hasin','mukal','natash','saurabh','bhujang'}
m=f.union(k)
print(m)

{'kunal', 'hasin', 'kajal', 'rutuja', 'mangesh', 'mukal', 'bhujang', 'akash', 'natash', 'saurabh'}